@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
	margin:0;
	background-color: #e9e9e9; 
	font-family: 'SUITE-Regular';
	width:100%;
 	height: 100%;
}
body{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body div form{
	    display: flex;
        flex-direction: column;
}
body div form div{
	    display: flex;
    padding-bottom: 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  
}

input[type="submit"]{
	width:50%;
	text-align:center;	
	margin-left: 25%;
}
body div h2{
	margin-bottom:1%;
}
#main{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 5px solid #FFC5D0;
    border-radius: 20px;
    background-color:#FFF0F5;
}
input{
    background-color:#EBFBFF;
	outline:none;
	border:1px solid #C0FFFF;
	text-align:center;
	height:20%;
}
select{
    background-color:#EBFBFF;
	outline:none;
	border:1px solid #C0FFFF;
	text-align:center;
}
input[type="submit"]{
	border-radius:20px;
}
