body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 16px;
  line-height: 1rem;
  color: #333;
  letter-spacing: -0.3px;
  font-weight: 400;
  background-color: #e9e9e9;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ffff80;
}

ul,
li {
  list-style: none;
}

img {
  cursor: pointer;
}

button {
  cursor: pointer;
}

table {
  border: 1px solid black;
  width: 90%;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th:nth-child(1) {
  width: 10%;
}

th:nth-child(2) {
  width: 50%;
  text-align: left;
}

th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  width: 15%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}